<!doctype html>
<html lang="en">
<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body ng-app="module3">
<div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <hr>

    <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchInput">
    </div>
    <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="ctrl.search()">
            Narrow It Down For Me!
        </button>
    </div>
    <br><br>
    <hr>
    <ol ng-if="ctrl.found.length > 0">
        <found-items ng-repeat="item in ctrl.found"></found-items>
    </ol>
    <div ng-if="ctrl.error_message">Error: {{ctrl.error_message}}</div>
</div>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>




