<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Http request test app</title>
</head>
<body ng-app="HttpRequestApp">
<h2>Http request test app</h2>
<hr>
<br>
<div ng-controller="HttpController as ctrl">
    <ul>
        <li ng-repeat="category in ctrl.categories">
            ( <a href="" ng-click="ctrl.getMenuByCategory(category.short_name);">{{category.short_name}}</a> , {{category.name}} )
        </li>
    </ul>

    <ul ng-if="ctrl.menuitems">
        <li ng-repeat="item in ctrl.menuitems.menu_items">
            ( {{item.short_name}} , {{item.name}} )
        </li>
    </ul>
</div>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
